__pycache__
cocoapi/annotations
cocoapi/images/*
!cocoapi/images/.gitkeep
pkldata/*
!pkldata/.gitkeep
slurm-*
nltk_data/*
!nltk_data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
.DS_Store
glove.6B/*
!glove.6B/.gitkeep


